.fade-out {
    animation: fade-out 0.7s cubic-bezier(0.41, 1.08, 0.94, 0.93);
    -webkit-animation: fade-out 0.7s cubic-bezier(0.41, 1.08, 0.94, 0.93);
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in {
    animation: fade-in 0.7s cubic-bezier(0.41, 1.08, 0.94, 0.93);
    -webkit-animation: fade-in 0.7s cubic-bezier(0.41, 1.08, 0.94, 0.93);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}